{% if see_button is defined %}
    <a class="standard-crud-index-action" href="{{ see_button }}" title="{{ 'page.admin.crud.global.button.see.label'|trans }}"><i class="fas fa-eye"></i></a>
{% endif %}
{% if edit_button is defined %}
    <a class="standard-crud-index-action" href="{{ edit_button }}" title="{{ 'page.admin.crud.global.button.edit.label'|trans }}"><i
                class="far fa-edit"></i></a>
{% endif %}
{% if delete_partial is defined %}
    <button type="button" class="standard-crud-index-action" data-bs-toggle="modal"
            data-bs-target="#modal-delete-item{{ delete_partial.ref }}"
            title="{{ "page.admin.crud.global.button.delete.label"|trans }}">
        <i class="far fa-trash-alt"></i>
    </button>

    <!-- Modal -->
    <div class="modal fade modal-crud" id="modal-delete-item{{ delete_partial.ref }}" tabindex="-1"
         aria-labelledby="modal-delete-item-label"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="text-center"><i class="fad fa-exclamation-triangle"></i> {{ 'page.admin.crud.global.modal.delete.title.label'|trans }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-standard"
                            data-bs-dismiss="modal">{{ "page.admin.crud.global.modal.delete.button.cancel.label"|trans }}</button>
                    {% include delete_partial.partial %}
                </div>
            </div>
        </div>
    </div>
{% endif %}