{% extends 'layout/layout-back-office-crud.html.twig' %}

{% block title %}{{ "page.admin.crud.dummy_test.index.title.label"|trans }}{% endblock %}

{% block inner_crud_body %}

    {% include 'back/components/partials/crud-fixed-header.html.twig' with {
        'title_page': "page.admin.crud.dummy_test.index.title.label"|trans,
        'add_button': absolute_url(path('dummy_test_new')),
        breadcrumb: {
            'type': 'back',
            'items': [
                "page.admin.crud.dummy_test.index.title.label"|trans
            ]
        }
    } %}
    <div class="crud-content">
        <table class="table">
            <thead>
            <tr>
                
                <th>{{ "entity.dummy_test.id.label"|trans }}</th>
                <th>{{ "entity.dummy_test.name.label"|trans }}</th>
                <th>{{ "entity.dummy_test.truc.label"|trans }}</th>
                <th>{{ "entity.dummy_test.truc_machin_test.label"|trans }}</th>
{#                ACTIONS BELLOW#}
                <th>{{ 'page.admin.crud.global.action.label'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for dummy_test in dummy_tests %}
                <tr>
                    
                <td>{{ dummy_test.id }}</td>
                <td>{{ dummy_test.name }}</td>
                <td>{{ dummy_test.truc }}</td>
                <td>{{ dummy_test.trucMachinTest }}</td>
                    <td>
                        {% include 'back/components/partials/crud-action-td.html.twig' with {
                            'see_button': absolute_url(path('dummy_test_show', {'id': dummy_test.id})),
                            'edit_button': absolute_url(path('dummy_test_edit', {'id': dummy_test.id})),
                            'delete_partial': {
                                'partial': 'dummy_test/_delete_form.html.twig',
                                'ref': dummy_test.id
                            }
                        } %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">{{ 'page.admin.crud.global.no_records.label'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            {{ knp_pagination_render(dummy_tests) }}
        </div>
    </div>
{% endblock %}