{% extends 'layout/layout-back-office-crud.html.twig' %}

{% block title %}CustomPage index{% endblock %}

{% block inner_body %}
    <h1>CustomPage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Status</th>
                <th>AccessLink</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for custom_page in custom_pages %}
            <tr>
                <td>{{ custom_page.id }}</td>
                <td>{{ custom_page.title }}</td>
                <td>{{ custom_page.content }}</td>
                <td>{{ custom_page.status }}</td>
                <td>{{ custom_page.accessLink }}</td>
                <td>
                    <a href="{{ path('custom_page_show', {'id': custom_page.id}) }}">show</a>
                    <a href="{{ path('custom_page_edit', {'id': custom_page.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('custom_page_new') }}">Create new</a>
{% endblock %}
